// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$xl: 1440px;
$lg: 1200px;
$int: 991px;
$md: 768px;
$sm: 576px;
$xsm: 500px;

#wrapper-navbar {
	.top-header-holder {
		background: #f8f8f8;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		@media (max-width: $xsm) {
			max-height: 180px;
		}

		.navbar-toggler {
			width: 80px;
			margin: auto;
			padding: 1em;
			display: none;
			@media (max-width: $int) {
				display: block;
			}
			&:hover {
				background: rgba(#c31057, 0.25);
			}
			.bar {
				height: 4px;
				border-radius: 4px;
				background: rgba(#c31057, 0.5);
				margin-bottom: 4px;
			}
			.menu-title {
				font-size: 14px;
				margin-top: 1em;
				text-transform: uppercase;
				font-family: "Roboto", sans-serif;
				font-weight: 700;
				color: #c31057;
			}
		}

		@media (max-width: $lg) {
			flex-direction: column;
			height: 220px;
		}

		.header-contact-container {
			margin: auto;
			font-family: "Roboto", sans-serif;
			font-size: 20px;
			flex-grow: 1;

			@media (max-width: $sm) {
				display: none;
			}

			> * {
				display: inline-block;
			}

			.header-item {
				text-align: center;
			}
		}

		.image-container {
			flex-grow: 1.5;
			display: flex;
			@media (max-width: $xsm) {
				max-height: 100px;
			}
			img {
				padding: 20px;
				margin: auto;
				height: 100px;
			}
		}
	}
}

#main-nav {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 28px;
	@media (max-width: $int) {
		margin-top: -14px;
	}

	ul {
		flex: 1;
		justify-content: space-between;

		li {
			a {
				color: #4e7cb2;
				transition: 0.25s ease all;

				&:hover {
					background: #eb5c6b;
					color: white;
					border-radius: 10px;
				}
			}
		}
	}
}

body {
	font-family: "Frank Ruhl Libre", serif;
	.welcome-section {
		padding: 2%;
		text-align: left;
		max-width: 40%;
		margin-top: 20px;
		@media (max-width: $int) {
			max-width: 90%;
			text-align: justify;
			margin: auto;
		}
		h1 {
			padding-top: 10%;
			font-family: "Roboto", serif;
			font-size: 2em;
			text-align: left;
		}
	}
}

.home-banner {
	height: 400px;
	background-image: url("../img/Banner.jpg");
	background-size: cover;

	@media (max-width: $int) {
		background-position: right;
	}

	.banner-text {
		font-size: 9vmax;
		color: white;
		font-family: "Roboto", sans-serif;
		padding-top: 100px;
		text-align: center;
		font-weight: 500;
	}
}
